.container {
  max-width: 1000px;
}

.area {
  fill: none;
  stroke: steelblue;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

div.tooltip {
  position: absolute;
  background: lightcoral;
}
