<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>moodtube</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/styles.css") }}"/>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body class="container">
  <nav class="navbar navbar-default" role="navigation">
    <a class="brand" href="/">moodtube</a>
    <ul class="nav">
      <li><a href="/graph">Graph</a></li>
      <li><a href="/db">Database</a></li>
    </ul>
  </nav>
  <h1>YouTube Music Mood Over Time</h1>
  <p>
    Spotify's Web API returns an audio feature called 'valence': A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).
  </p>
  <svg width="960" height="500"></svg>
  <script>

    var my_data = {{ data|tojson|safe }};

    // console.log(my_data);

    var svg = d3.select("svg"),
      margin = {top: 20, right: 20, bottom: 110, left: 40},
      margin2 = {top: 430, right: 20, bottom: 30, left: 40},
      width = +svg.attr("width") - margin.left - margin.right,
      height = +svg.attr("height") - margin.top - margin.bottom,
      height2 = +svg.attr("height") - margin2.top - margin2.bottom;

    // set the ranges
    var x = d3.scaleLinear().range([0, width]),
      x2 = d3.scaleLinear().range([0, width]),
      y = d3.scaleLinear().range([height, 0]),
      y2 = d3.scaleLinear().range([height2, 0]);

    var xAxis = d3.axisBottom(x),
      xAxis2 = d3.axisBottom(x2),
      yAxis = d3.axisLeft(y);

    var brush = d3.brushX()
      .extent([[0, 0], [width, height2]])
      .on("brush end", brushed);

    // define the line
    var area = d3.area()
      .curve(d3.curveMonotoneX)
      .x(function(d) { return x(d.id); })
      .y0(height)
      .y1(function(d) { return y(d.mood); });

    var area2 = d3.area()
      .curve(d3.curveMonotoneX)
      .x(function(d) { return x2(d.id); })
      .y0(height2)
      .y1(function(d) { return y2(d.mood); });

    // // append the svg obgect to the body of the page
    // // appends a 'group' element to 'svg'
    // // moves the 'group' element to the top left margin
    // var svg = d3.select("body").append("svg")
    //     .attr("width", width + margin.left + margin.right)
    //     .attr("height", height + margin.top + margin.bottom)
    //   .append("g")
    //     .attr("transform",
    //           "translate(" + margin.left + "," + margin.top + ")");
    svg.append("defs").append("clipPath")
        .attr("id", "clip")
      .append("rect")
        .attr("width", width)
        .attr("height", height);

    var tooltip = d3.select("body").append("div")
        .attr("class", "tooltip")
        .text("THIS IS TOOLTIP");

    var focus = svg.append("g")
        .attr("class", "focus")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var context = svg.append("g")
        .attr("class", "context")
        .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");

    // Scale the range of the data
    x.domain(d3.extent(my_data, function(d) { return d.id; }));
    y.domain([0, d3.max(my_data, function(d) { return d.mood; })]);
    x2.domain(x.domain());
    y2.domain(y.domain());

    focus.append("path")
      .datum(my_data)
      .attr("class", "area")
      .attr("d", area);

    focus.append("g")
      .attr("class", "axis axis--x")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    focus.append("g")
      .attr("class", "axis axis--y")
      .call(yAxis);

    focus.selectAll("dot")
        .data(my_data)
       .enter().append("circle")
        .attr("r", 3)
        .attr("cx", function(d) { return x(d.id); })
        .attr("cy", function(d) { return y(d.mood); })
        .on("mouseover", function(d) {
            d3.event.stopImmediatePropagation();
            // console.log(">>>>>> ON A POINT NOW <<<<<<<<<<");
            d3.select(this).attr("r", 6);
            // console.log(d);
            tooltip.transition()
              .duration(200)
              .style("opacity", .9);

            tooltip.html(d.title + " : " + d.mood)
              .style("left", (d3.event.pageX) + "px")
              .style("top", (d3.event.pageY - 28) + "px")
              })
        .on("mouseout", function(d) {
            // console.log(">>>>>>>> LEFT THE POINT <<<<<<<<<<<<<");
            d3.select(this).attr("r", 3);
            tooltip.transition()
              .duration(500)
              .style("opacity", 0);
          });

    context.append("path")
      .datum(my_data)
      .attr("class", "area")
      .attr("d", area2);

    context.append("g")
      .attr("class", "axis axis--x")
      .attr("transform", "translate(0," + height2 + ")")
      .call(xAxis2);

    svg.call(d3.zoom()
      .scaleExtent([1, Infinity])
      .translateExtent([[0, 0], [width, height]])
      .extent([[0, 0], [width, height]])
      .on("zoom", zoomed));

    context.append("g")
      .attr("class", "brush")
      .call(brush)
      .call(brush.move, x.range());

    var mean = d3.mean(my_data,function(d) { return +d.mood})

    console.log(mean);

    var avgdataset = [
      {x:11, y:mean},
      {x:759, y:mean}
    ];

    console.log(avgdataset);

    var avgline = d3.line()
      .x(function(d){ return x(d.x); })
      .y(function(d) { return y(d.y); })
      .curve(d3.curveLinear);

    focus.append("path")
      .data([avgdataset])
      .attr("class", "line")
      .style("stroke", "red")
      .attr("d", avgline);

    svg.append("text")
      .attr("transform",
            "translate(" + (width/2) + " ," +
                           (height + margin.top + 109) + ")")
      .style("text-anchor", "middle")
      .text("Most recent songs to oldest (by Song IDs)");

    svg.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - margin.left)
      .attr("x",0 - (height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Value");

    var rect = svg.append("rect")
      .attr("class", "zoom")
      .attr("width", width)
      .attr("height", height)
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
      .call(zoom);

    function brushed() {
      // console.log("FUNCTION BRUSHED CALLED ");
      if (d3.event.sourceEvent && d3.event.sourceEvent.type === "zoom") return; // ignore brush-by-zoom
      var s = d3.event.selection || x2.range();
      x.domain(s.map(x2.invert, x2));
      focus.select(".area").attr("d", area);
      focus.select(".axis--x").call(xAxis);
      focus.selectAll("circle")
          .attr("cx", function(d) { return x(d.id); })
      svg.select(".zoom").call(zoom.transform, d3.zoomIdentity
          .scale(width / (s[1] - s[0]))
          .translate(-s[0], 0));
    }

    function zoomed() {
      // console.log("FUNCTION ZOOMED CALLED");
      if (d3.event.sourceEvent && d3.event.sourceEvent.type === "brush") return; // ignore zoom-by-brush
      var t = d3.event.transform;
      x.domain(t.rescaleX(x2).domain());
      focus.select(".area").attr("d", area);
      focus.select(".axis--x").call(xAxis);
      focus.selectAll("circle")
          .attr("cx", function(d) { return x(d.id); })
      context.select(".brush").call(brush.move, x.range().map(t.invertX, t));
    }

    function type(d) {
      d.id = +d.id;
      d.mood = +d.mood;
      return d;
    }

  </script>
  <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% for table in tables %}
      <h2>{{titles[loop.index]}}</h2>
      {{ table|safe }}
    {% endfor %}
</body>
</html>
